#section9 {
    width:100%;
    height:1200px;
    margin-top:80px;
    .container {
        width:100%;
        max-width: 1600px;
        margin : 0 auto;
        .gap {
            width:100%;
            .row1 {
                width:100%;
                .title {
                    text-align: center;
                    h1 {
                        font-size: 42px;
                        font-weight: 300;
                        line-height: 56px;
                        color:#1a1a1a;
                        position: relative;
                        .shop {
                            position: absolute;
                            top:0;
                            left:55.5%;
                            font-size: 42px;
                            line-height: 56px;
                            font-weight: 500;
                            background: linear-gradient(to right, #cc2b5e, #753a88);
                            -webkit-background-clip:text ;
                            -webkit-text-fill-color: transparent;
                            letter-spacing: 1px;
                        }
                    }
                }
            }
            .row2 {
                width:100%;
                .category-box {
                    width:100%;
                    margin:90px 0 60px 0;
                    ul {
                        display:flex;
                        justify-content: center;
                        a{
                            li {
                                width:auto;
                                height:40px;
                                background: #f2f2f2;
                                color: #9f9f9f;
                                line-height: 18px;
                                border-radius: 26px;
                                padding: 11px 25px 11px 25px;
                                font-size: 18px;
                                cursor: pointer;
                                margin: 0 5px;
                            }
                        }
                    }
                }
            }
            .row3 {
                .content {
                    display:flex;
                    .left-box {
                        margin-left:100px;
                        width:50%;
                        ul {
                            display:flex;
                            flex-flow: row wrap;
                            li {  
                                width:33.333%;
                                .sec9left-product {
                                    width:244.906px;
                                    height:345.656px;
                                    margin-bottom:60px;
                                    .img-box {
                                        cursor: pointer;
                                        position: relative;
                                        overflow: hidden;
                                        a{
                                            .sec9product {
                                                width:233.906px;
                                                height:167.234px;
                                            }
                                            .button-box {
                                                opacity: 0;
                                                width:100%;
                                                position: absolute;
                                                bottom:0;
                                                left:0;
                                                transform: translateY(200%);
                                                background: rgba(255,255,255,0.5);
                                                transition: all 0.3s;
                                                backdrop-filter: blur(4px);
                                                cursor: pointer;
                                                // transition: all 0.5s;
                                                .button {
                                                    display:flex;
                                                    justify-content: space-around;
                                                    height: 40px;
                                                    
                                                    button {
                                                        background: none;
                                                        border:0;
                                                        cursor: pointer;
                                                        img {
                                                            width:25px;
                                                            height:24px;
                                                           
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    .title-box {
                                        width:211.906px;
                                        padding:0 0 0 11px;
                                        display:flex;
                                        flex-flow: column;
                                        margin-top: 15px;
                                        font-family: 'Pretendard';
                                        .sec9name   {
                                            cursor: pointer;
                                            font-size: 16px;
                                            font-weight: 600;
                                            color:#1e1e1e;
                                            line-height: 19.2px;
                                            margin-bottom:10px;
                                        }
                                        .sec9price  {
                                            font-size: 14px;
                                            font-weight: 400;
                                            color:#a8a8a8;
                                            line-height: 20px;
                                            text-decoration: line-through;

                                        }
                                        .sec9price2 {
                                            font-size: 16px;
                                            font-weight: 700;
                                            color:#000;
                                            line-height: 24px;
                                            margin:5px 0;
                                        }
                                    }
                                    img {
                                        width:64px;
                                        height:20px;
                                        margin-left: 9px;
                                    }
                                    a {
                                        margin: 20px 0 0 10px;
                                        display: block;
                                        width: 100%;
                                        i{
                                         font-size: 20px;
                                         vertical-align: top;
                                        margin-right: 6px;
                                        color: #686868;
                                        }
                                        span {
                                            font-size: 14px;
                                            color: #676767;
                                            line-height: 20px;
                                            vertical-align: top;
                                            font-weight: 500;
                                        } 
                                    }
                                }
                            }
                        }
                    }
                    .right-box {
                        width:50%;
                        .sec9img-box {
                            padding-left:30px;
                            position: relative;
                            img {
                                z-index: -1;
                                width:663.891px;
                                height:751.312px;
                                position: absolute;
                                border-radius: 20px;
                            }
                            .sec9title-box {
                                position: relative;
                                .sec9right1 {
                                    position: absolute;
                                    top:570px;
                                    left:27%;
                                    font-size: 44px;
                                    color:#fff;
                                    font-weight: 600;
                                    line-height: 44px;
                                }
                                .sec9right2 {
                                    position: absolute;
                                    top:640px;
                                    left:25%;
                                    font-size: 28px;
                                    font-weight: 400;
                                    color:#fff;
                                    line-height: 28px;

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}