#essaclub {
  width: 100%;
}
#essaclub #clubsection1 {
  width: 100%;
  height: 649.188px;
}
#essaclub #clubsection1 .container {
  width: 100%;
  height: 100%;
}
#essaclub #clubsection1 .container .gap {
  width: 100%;
  height: 100%;
}
#essaclub #clubsection1 .container .gap .content {
  width: 100%;
  height: 100%;
}
#essaclub #clubsection1 .container .gap .content .sec1img {
  width: 100%;
  height: 100%;
}
#essaclub #clubsection1 .container .gap .content .sec1img img {
  width: 100%;
  height: 100%;
}
#essaclub #clubsection2 {
  width: 100%;
  background: #fbfaf7;
}
#essaclub #clubsection2 .container {
  width: 100%;
  margin: 0 auto;
  max-width: 1600px;
  height: 100%;
}
#essaclub #clubsection2 .container .gap {
  width: 100%;
  height: 100%;
}
#essaclub #clubsection2 .container .gap .content {
  width: 100%;
  height: 100%;
}
#essaclub #clubsection2 .container .gap .content .sec2img {
  width: 100%;
  height: 100%;
}
#essaclub #clubsection2 .container .gap .content .sec2img img {
  width: 100%;
  height: 100%;
}
#essaclub #clubsection3 {
  width: 100%;
  background: #827aa9;
}
#essaclub #clubsection3 .container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: 100%;
}
#essaclub #clubsection3 .container .gap {
  width: 100%;
  height: 100%;
}
#essaclub #clubsection3 .container .gap .content {
  width: 100%;
  height: 100%;
}
#essaclub #clubsection3 .container .gap .content .sec3img {
  width: 100%;
  height: 100%;
}
#essaclub #clubsection3 .container .gap .content .sec3img img {
  width: 100%;
  height: 100%;
}
#essaclub #clubsection4 {
  width: 100%;
  background: #fbfaf7;
}
#essaclub #clubsection4 .container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: 100%;
}
#essaclub #clubsection4 .container .gap {
  width: 100%;
  height: 100%;
}
#essaclub #clubsection4 .container .gap .content {
  width: 100%;
  height: 100%;
}
#essaclub #clubsection4 .container .gap .content .sec4img {
  width: 100%;
  height: 100%;
}
#essaclub #clubsection4 .container .gap .content .sec4img img {
  width: 100%;
  height: 100%;
}
#essaclub #clubsection5 {
  width: 100%;
  height: 100%;
  background-color: #f8f5ee;
}
#essaclub #clubsection5 .container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: 100%;
}
#essaclub #clubsection5 .container .gap {
  width: 100%;
  height: 100%;
}
#essaclub #clubsection5 .container .gap .content {
  width: 100%;
  height: 100%;
}
#essaclub #clubsection5 .container .gap .content .sec5img {
  width: 100%;
  height: 100%;
}
#essaclub #clubsection5 .container .gap .content .sec5img img {
  width: 100%;
  height: 100%;
}
#essaclub #clubsection6 {
  width: 100%;
  background: #fbfaf7;
}
#essaclub #clubsection6 .container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
#essaclub #clubsection6 .container .gap {
  width: 100%;
}
#essaclub #clubsection6 .container .gap .content {
  width: 100%;
}
#essaclub #clubsection6 .container .gap .content .sec6img {
  width: 100%;
}
#essaclub #clubsection6 .container .gap .content .sec6img img {
  width: 100%;
  height: 100%;
}
#essaclub #clubsection7 {
  width: 100%;
  background: #f8f5ee;
  padding-bottom: 200px;
}
#essaclub #clubsection7 .container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
#essaclub #clubsection7 .container .gap {
  width: 100%;
}
#essaclub #clubsection7 .container .gap .content {
  width: 100%;
}
#essaclub #clubsection7 .container .gap .content .sec7img {
  width: 100%;
}
#essaclub #clubsection7 .container .gap .content .sec7img img {
  width: 100%;
  height: 100%;
}
#essaclub #clubsection7 .container .gap .content .sec7img a {
  display: flex;
  justify-content: center;
  align-items: center;
}
#essaclub #clubsection7 .container .gap .content .sec7img a .club-button {
  width: 414px;
  height: 79px;
}
#essaclub #clubsection8 {
  width: 100%;
  background: #fbfaf7;
}
#essaclub #clubsection8 .container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
#essaclub #clubsection8 .container .gap {
  width: 100%;
}
#essaclub #clubsection8 .container .gap .content {
  width: 100%;
}
#essaclub #clubsection8 .container .gap .content .sec8img {
  width: 100%;
}
#essaclub #clubsection8 .container .gap .content .sec8img img {
  width: 100%;
}
#essaclub #clubsection9 {
  width: 100%;
  background: #f8f5ee;
}
#essaclub #clubsection9 .container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
#essaclub #clubsection9 .container .gap {
  width: 100%;
}
#essaclub #clubsection9 .container .gap .content {
  width: 100%;
}
#essaclub #clubsection9 .container .gap .content .sec9img {
  width: 100%;
}
#essaclub #clubsection9 .container .gap .content .sec9img img {
  width: 100%;
}
#essaclub #clubsection10 {
  width: 100%;
}
#essaclub #clubsection10 .container {
  width: 100%;
}
#essaclub #clubsection10 .container .gap {
  width: 100%;
}
#essaclub #clubsection10 .container .gap .content {
  width: 100%;
}
#essaclub #clubsection10 .container .gap .content .sec10img {
  width: 100%;
}
#essaclub #clubsection10 .container .gap .content .sec10img img {
  width: 100%;
}