#section1 {
  width: 100%;
  height: 100vh;
  margin-bottom: 105px;
  overflow: hidden;
}
#section1 .container {
  width: 100%;
  height: 100%;
}
#section1 .container .gap {
  width: 100%;
  height: 100%;
}
#section1 .container .gap .content {
  width: 100%;
  height: 100%;
}
#section1 .container .gap .content .slide-container {
  width: 100%;
  height: 100%;
}
#section1 .container .gap .content .slide-container .slide-view {
  width: 100%;
  height: 100%;
}
#section1 .container .gap .content .slide-container .slide-view .slide-wrap {
  width: 300%;
  height: 100%;
  display: flex;
  position: relative;
}
#section1 .container .gap .content .slide-container .slide-view .slide-wrap .slide {
  width: 100%;
  height: 100%;
  position: relative;
}
#section1 .container .gap .content .slide-container .slide-view .slide-wrap .slide .text {
  position: absolute;
  bottom: 120px;
  left: 244px;
  transform: translateY(-50%);
}
#section1 .container .gap .content .slide-container .slide-view .slide-wrap .slide .text .t01 {
  font-family: "Red Hat Display";
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-shadow: 3px 3px 13px rgba(0, 0, 0, 0.15);
  opacity: 0;
  margin-bottom: 20px;
}
#section1 .container .gap .content .slide-container .slide-view .slide-wrap .slide .text .t01.on {
  animation: slide1_ani 0.5s 1s forwards;
}
#section1 .container .gap .content .slide-container .slide-view .slide-wrap .slide .text .t02 {
  font-family: "ivypresto-display", serif;
  opacity: 0;
  margin-bottom: 24px;
  font-size: 100px;
  line-height: 100px;
  font-weight: 300;
  color: #fff;
  text-shadow: 3px 3px 13px rgba(0, 0, 0, 0.15);
  margin-left: -6px;
}
#section1 .container .gap .content .slide-container .slide-view .slide-wrap .slide .text .t02.on {
  animation: slide1_ani 0.5s 0.5s forwards;
}
#section1 .container .gap .content .slide-container .slide-view .slide-wrap .slide .text .t03 {
  opacity: 0;
  font-family: "Pretendard";
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  color: #fff;
  text-shadow: 3px 3px 13px rgba(0, 0, 0, 0.3);
}
#section1 .container .gap .content .slide-container .slide-view .slide-wrap .slide .text .t03.on {
  animation: slide1_ani 0.5s 1.5s forwards;
}
#section1 .container .gap .content .slide-container .slide-view .slide-wrap .slide .text a .more {
  position: relative;
  display: block;
  width: 160px;
  opacity: 0;
  margin-top: 20px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
  font-weight: 700;
  color: #fff;
  transition: color 0.5s, padding-left 0.5s;
}
#section1 .container .gap .content .slide-container .slide-view .slide-wrap .slide .text a .more.on {
  animation: slide1_ani 0.5s 1.2s forwards;
}
#section1 .container .gap .content .slide-container .slide-view .slide-wrap .slide .text a .more span {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
}
#section1 .container .gap .content .slide-container .slide-view .slide-wrap .slide .text a .more span:hover svg {
  transform: translateX(10px);
  transition: 0.3s;
}
#section1 .container .gap .content .slide-container .slide-view .slide-wrap .slide .text a .more span svg {
  color: #fff;
}
#section1 .container .gap .content .slide-container .slide-view .slide-wrap .slide .text .logo {
  width: 270px;
  opacity: 0.8;
}
#section1 .container .gap .content .slide-container .slide-view .slide-wrap .slide .text .logo > img {
  width: 100%;
}
@keyframes slide1_ani {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
#section1 .container .gap .content .slide-container .slide-view .slide-wrap .slide video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#section1 .container .gap .content .slide-container .slide-view .slide-wrap .slide2 {
  background: url("../img/sl8.jpg") no-repeat 50% 50%;
  background-size: cover;
}
#section1 .container .gap .content .slide-container .slide-view .slide-wrap .slide3 {
  background: url("../img/sl9.jpg") no-repeat 50% 50%;
  background-size: cover;
}
#section1 .container .gap .content .pagination-progressbar {
  position: absolute;
  width: 1415px;
  height: 4px;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.3);
}
#section1 .container .gap .content .pagination-progressbar .pagination-progressbar-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #fff;
  transition-duration: 1000ms;
}