#section9 {
  width: 100%;
  height: 1200px;
  margin-top: 80px;
}
#section9 .container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
#section9 .container .gap {
  width: 100%;
}
#section9 .container .gap .row1 {
  width: 100%;
}
#section9 .container .gap .row1 .title {
  text-align: center;
}
#section9 .container .gap .row1 .title h1 {
  font-size: 42px;
  font-weight: 300;
  line-height: 56px;
  color: #1a1a1a;
  position: relative;
}
#section9 .container .gap .row1 .title h1 .shop {
  position: absolute;
  top: 0;
  left: 55.5%;
  font-size: 42px;
  line-height: 56px;
  font-weight: 500;
  background: linear-gradient(to right, #cc2b5e, #753a88);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
}
#section9 .container .gap .row2 {
  width: 100%;
}
#section9 .container .gap .row2 .category-box {
  width: 100%;
  margin: 90px 0 60px 0;
}
#section9 .container .gap .row2 .category-box ul {
  display: flex;
  justify-content: center;
}
#section9 .container .gap .row2 .category-box ul a li {
  width: auto;
  height: 40px;
  background: #f2f2f2;
  color: #9f9f9f;
  line-height: 18px;
  border-radius: 26px;
  padding: 11px 25px 11px 25px;
  font-size: 18px;
  cursor: pointer;
  margin: 0 5px;
}
#section9 .container .gap .row3 .content {
  display: flex;
}
#section9 .container .gap .row3 .content .left-box {
  margin-left: 100px;
  width: 50%;
}
#section9 .container .gap .row3 .content .left-box ul {
  display: flex;
  flex-flow: row wrap;
}
#section9 .container .gap .row3 .content .left-box ul li {
  width: 33.333%;
}
#section9 .container .gap .row3 .content .left-box ul li .sec9left-product {
  width: 244.906px;
  height: 345.656px;
  margin-bottom: 60px;
}
#section9 .container .gap .row3 .content .left-box ul li .sec9left-product .img-box {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
#section9 .container .gap .row3 .content .left-box ul li .sec9left-product .img-box a .sec9product {
  width: 233.906px;
  height: 167.234px;
}
#section9 .container .gap .row3 .content .left-box ul li .sec9left-product .img-box a .button-box {
  opacity: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(200%);
  background: rgba(255, 255, 255, 0.5);
  transition: all 0.3s;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  cursor: pointer;
}
#section9 .container .gap .row3 .content .left-box ul li .sec9left-product .img-box a .button-box .button {
  display: flex;
  justify-content: space-around;
  height: 40px;
}
#section9 .container .gap .row3 .content .left-box ul li .sec9left-product .img-box a .button-box .button button {
  background: none;
  border: 0;
  cursor: pointer;
}
#section9 .container .gap .row3 .content .left-box ul li .sec9left-product .img-box a .button-box .button button img {
  width: 25px;
  height: 24px;
}
#section9 .container .gap .row3 .content .left-box ul li .sec9left-product .title-box {
  width: 211.906px;
  padding: 0 0 0 11px;
  display: flex;
  flex-flow: column;
  margin-top: 15px;
  font-family: "Pretendard";
}
#section9 .container .gap .row3 .content .left-box ul li .sec9left-product .title-box .sec9name {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #1e1e1e;
  line-height: 19.2px;
  margin-bottom: 10px;
}
#section9 .container .gap .row3 .content .left-box ul li .sec9left-product .title-box .sec9price {
  font-size: 14px;
  font-weight: 400;
  color: #a8a8a8;
  line-height: 20px;
  text-decoration: line-through;
}
#section9 .container .gap .row3 .content .left-box ul li .sec9left-product .title-box .sec9price2 {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  line-height: 24px;
  margin: 5px 0;
}
#section9 .container .gap .row3 .content .left-box ul li .sec9left-product img {
  width: 64px;
  height: 20px;
  margin-left: 9px;
}
#section9 .container .gap .row3 .content .left-box ul li .sec9left-product a {
  margin: 20px 0 0 10px;
  display: block;
  width: 100%;
}
#section9 .container .gap .row3 .content .left-box ul li .sec9left-product a i {
  font-size: 20px;
  vertical-align: top;
  margin-right: 6px;
  color: #686868;
}
#section9 .container .gap .row3 .content .left-box ul li .sec9left-product a span {
  font-size: 14px;
  color: #676767;
  line-height: 20px;
  vertical-align: top;
  font-weight: 500;
}
#section9 .container .gap .row3 .content .right-box {
  width: 50%;
}
#section9 .container .gap .row3 .content .right-box .sec9img-box {
  padding-left: 30px;
  position: relative;
}
#section9 .container .gap .row3 .content .right-box .sec9img-box img {
  z-index: -1;
  width: 663.891px;
  height: 751.312px;
  position: absolute;
  border-radius: 20px;
}
#section9 .container .gap .row3 .content .right-box .sec9img-box .sec9title-box {
  position: relative;
}
#section9 .container .gap .row3 .content .right-box .sec9img-box .sec9title-box .sec9right1 {
  position: absolute;
  top: 570px;
  left: 27%;
  font-size: 44px;
  color: #fff;
  font-weight: 600;
  line-height: 44px;
}
#section9 .container .gap .row3 .content .right-box .sec9img-box .sec9title-box .sec9right2 {
  position: absolute;
  top: 640px;
  left: 25%;
  font-size: 28px;
  font-weight: 400;
  color: #fff;
  line-height: 28px;
}