#boardView {
  width: 100%;
  font-family: "Red Hat Display", "Pretendard", sans-serif;
}
#boardView .container {
  width: 100%;
  max-width: 1600px;
  height: 1155.03px;
  margin: 0 auto;
}
#boardView .container .title {
  padding: 120px 0 80px 0;
  text-align: center;
}
#boardView .container .title h2 {
  font-size: 32px;
  font-weight: 700;
  color: #000;
}
#boardView .container .content {
  border-top: 3px solid #000;
  width: 100%;
  margin: 0 auto;
}
#boardView .container .content .board-view-box {
  margin: 0 auto;
  height: 700px;
}
#boardView .container .content .board-view-box .board_view_tit {
  margin: 0 auto;
  width: 100%;
  height: 58px;
  padding: 32px 0 16px 0;
}
#boardView .container .content .board-view-box .board_view_tit h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #1a1a1a;
}
#boardView .container .content .board-view-box .board_view_info {
  width: 100%;
  height: 57px;
  border-bottom: 1px solid #ededed;
}
#boardView .container .content .board-view-box .board_view_info ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 24px;
}
#boardView .container .content .board-view-box .board_view_info ul li {
  padding: 30px 0 0 0;
  font-size: 14px;
  color: #8a8a8a;
  font-weight: 400;
}
#boardView .container .content .board-view-box .board_view_info ul li:nth-child(1) ::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #ddd;
  margin: 0 12px;
}
#boardView .container .content .board-view-box .board_view_info ul li:nth-child(2) ::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #ddd;
  margin: 0 12px;
}
#boardView .container .content .board-view-box .board_view_content {
  padding: 20px 0 15px 0;
  width: 100%;
  height: 600px;
}
#boardView .container .content .board-view-box .board_view_content .seem_cont {
  text-align: center;
}
#boardView .container .content .board-view-box .board_view_content .seem_cont ul {
  padding: 50px 0;
}
#boardView .container .content .board-view-box .board_view_content .seem_cont ul li {
  padding: 40px 0;
  font-size: 16px;
  font-weight: 400;
}
#boardView .container .content .board-view-box .board_view_content .seem_cont ul li:nth-child(1) b {
  font-weight: bold;
  font-size: 16px;
  color: #000;
}
#boardView .container .content .board-view-box .board_view_content .seem_cont ul li:nth-child(2) span {
  font-size: 16px;
  color: #000;
}
#boardView .container .content .board-view-box .board_view_content .seem_cont ul li:nth-child(3) span {
  font-size: 16px;
  font-weight: 400;
  color: red;
}
#boardView .container .content .board-view-box .board_view_content .seem_cont ul li:nth-child(4) span {
  font-size: 16px;
}
#boardView .container .content .board-view-box .board_view_content .seem_cont ul li:nth-child(4) span b {
  font-weight: bold;
  color: #000;
}
#boardView .container .content .board-view-box .board_view_content .seem_cont ul li:nth-child(5) {
  border-bottom: 1px solid #dbdbdb;
}
#boardView .container .btn_right_box {
  text-align: right;
  height: 28px;
}
#boardView .container .btn_right_box button {
  line-height: 26px;
  margin: 0 0 0 5px;
  padding: 2px 12px 0 12px;
  color: rgba(102, 102, 102, 0.4);
  border: 1px solid #a3a3a3;
  color: #000;
  background: #fff;
  font-weight: bold;
  font-size: 14px;
}
#boardView .container .btn_right_box button:hover {
  border: 1px solid #333333;
}