#section11{
    width: 100%;
    padding : 100px 0;
    .container {
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        height:1046px;
        .gap {
            width: 100%;
            .title {
                width: 100%;
                padding: 0 0 80px 0;
                .main-title {
                    color:#1a1a1a;
                    font-size: 42px;
                    font-weight: 300;
                    text-align: center;
                    font-family: 'ivypresto-display', serif;
                    letter-spacing: -3px;
                    line-height: 56px;
                    visibility: visible;
                    animation-duration: 1s;
                    animation-delay: 0s;
                    animation-name: fadeInUp;
                }
            }   
            .content {
                width: 1447.780px;
                display: flex;
                margin: 0 auto;
                .left-box {
                    width: 723.891px;
                    height:750px;
                    .video-wrap {
                        width: 723.891px;
                        height:750px;
                        position: relative;
                        z-index: -1;
                        video {
                            width: 663.891px;
                            height:757.500px;
                            object-fit: fill;
                            border-radius: 20px;
                        }
                    }
                }
                .right-box {
                    // background-color: #f1eae2;
                    width:50%;
                    height:auto;
                    >.right-title {
                        max-width: 761.188px;
                        margin:180px auto 100px auto;
                        display:flex;
                        justify-content: space-between;
                        h2 {
                            position: relative;
                            font-size: 42px;
                            font-weight:400;
                            color:#1a1a1a;
                            letter-spacing: -0.5px;
                            line-height: 1;
                            i {
                                position: absolute;
                                top:-13px;
                                right:-10px;
                                color: #93aeca;
                            }
                        }
                        >span {
                            margin-top:20px;
                            font-size: 14px;
                            color:#a5a5a5;
                            border-bottom: 1px solid #a5a5a5;
                            padding-bottom: 1px;

                        }
                    }
                    .right-content {
                        max-width: 770.188px;
                        margin:0 auto;
                        ul {
                            display:flex;
                            flex-flow: row wrap;
                            li {
                                width:50%;
                                height:400px;
                                padding: 0 11.578px;

                                    .img-box {
                                        position: relative;
                                        cursor: pointer;
                                        overflow: hidden;
                                        img {
                                            width:363.141px;
                                            height:259.641px;
                                        }
                                        .button-box {
                                            padding: 15px 0 0 0;
                                            opacity: 0;
                                            width:100%;
                                            position: absolute;
                                            bottom:15px;
                                            left:0;
                                            transform: translateY(200%);
                                            background: rgba(255,255,255,0.5);
                                            transition: all 0.3s;
                                            backdrop-filter: blur(4px);
                                            cursor: pointer;
                                            transition: all 0.5s;
                                            .button {
                                                display:flex;
                                                justify-content: space-around;
                                                button {
                                                    background: none;
                                                    border:0;
                                                    img {
                                                        width:25px;
                                                        height:24px;

                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .title-box {
                                        position: relative;
                                        width:341.141px;
                                        height:54.234px;
                                        padding: 20px 10px 0 10px;
                                        span {
                                            font-size:15px;
                                            color:#1e1e1e;
                                            font-weight: 600;
                                            letter-spacing: -1.5px;
                                            line-height: 1.2;
                                        }
                                        .img1 {
                                            position: absolute;
                                            top:50px;
                                            left:10px;
                                        }
                                        .img2 {
                                            position: absolute;
                                            top:50px;
                                            left:80px;
                                        }
                                    }
                                
                            }
                        }
                    }
                }
            }
        }
    }
}