#signin {
    width:100%;
    height:1000px;
    .container {
        width:100%;
        max-width: 1600px;
        margin:0 auto;
        .gap {
            width:492px;
            margin: 0 554px;
            .title {
                width:100%;
                margin-top:200px;
                .title-box {
                    width:100%;
                    text-align: center;
                    h1 {
                        font-size: 28px;
                        color:#333;
                        font-weight: 700;
                        line-height: 42px;
                    }
                }
            }
            .content {
                display:block;
                margin-top:30px;
                width:492px;
                height:663.668px;
                .member-tab {
                    ul {
                        display:flex;
                        justify-content: space-around;
                        li {
                            label {
                                width:246px;
                                height:50px;
                                color:#414141;
                                line-height: 45px;
                                cursor: pointer;
                                text-align: center;
                                font-size: 14px;
                            }
                        }
                    }
                }
                #formLogin {
                    margin-top:30px;
                    .member-login-box {
                        .login-input-box {
                            display:flex;
                            flex-flow: column;
                            input {
                                width:490px;
                                height:58px;
                                padding: 5px 30px;
                                font-size: 12px;
                                margin:5px 0;
                                border: 1px solid #f9f9f9;
                                background: #f9f9f9;
                                color: #979d9d;
                            }
                        }
                    }
                    .login-chek-box {
                        margin-bottom:20px;
                        .id-chek {
                            .form-id {
                                img {
                                    width:auto;
                                    height:auto;
                                    margin-right:5px;
                                }
                                label {
                                    color:#333;
                                    font-size: 14px;
                                    line-height: 1.5;
                                }
                            }
                        }
                    }
                    .login-btn-box {
                        margin-bottom:10px;
                        .member-login-btn {
                            width:492px;
                            height:61px;
                            background-color: #7e9fc2;
                            border:0;
                            font-size: 17px;
                            color:#fff;
                            font-weight: 400;
                            line-height: 27px;
                        }
                    }
                    .find-btn-box {
                        ul {
                            display:flex;
                            justify-content: flex-end;
                            li {
                                .btnFindId {
                                    background: none;
                                    border:0;
                                    cursor: pointer;
                                    font-size: 13px;
                                    font-weight: 400;
                                    line-height: 21px;
                                    color:#333;
                                    letter-spacing: -1px;
                                }
                                i {
                                    margin:0 10px;
                                    color: #d4d4d4;
                                    height:10px;
                                    line-height: 14px;
                                    font-size: 14px;
                                    width:1px;
                                }
                                .btnFindPw {
                                    background: none;
                                    border:0;
                                    cursor: pointer;
                                    font-size: 13px;
                                    font-weight: 400;
                                    line-height: 21px;
                                    color:#333;
                                    letter-spacing: -1px;
                                }
                            }
                        }
                    }
                }
                .member-sns-login {
                    display:flex;
                    justify-content: center;
                    text-align: center;
                    width:492px;
                    height:102.188px;
                    margin:20px 0;
                    a {
                        img {
                            width:auto;
                            height:auto;
                        }
                        p {
                            margin-top:10px;
                            font-size: 13px;
                            line-height: 18.2px;
                            color:#333;
                            font-weight: 400;
                        }
                    }
                    .kakao {
                        margin:0 40px;
                    }
                }
                .signup-btn-box {
                    margin-top:100px;
                    display:flex;
                    flex-flow: column;
                    span {
                        text-align: center;
                        strong {
                            font-size: 15px;
                            font-weight: 700;
                            line-height: 22.5px;
                            color:#6184b1;
                        }
                    }
                    .signup-btn {
                        cursor: pointer;
                        width:490px;
                        height:63px;
                        border:1px solid #7e9fc2;
                        background: #fff;
                        padding:17px 0;
                        font-size: 17px;
                        color:#414141;
                        line-height: 27px;
                        font-weight: 400;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}